@use '../../scss/variables' as vars;

.historia {
  display: flex;
  flex-direction: column;

  &__header {
    background-color: vars.$color-secondary;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 12%;
    color: white;

    &-logo {
      width: 26%;

      img {
        width: 100%;
      }
    }

    &-title {
      width: 66%;
      font-size: 2.8rem;
      font-weight: bold;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    display: flex;
    gap: 0,8rem;
  }

  &__video-wrap {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
    margin: 2rem 0;

    video {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -0.5rem;
      left: -1.6rem;
      width: 100vw;
      height: 0.4rem;
      background-color: #4E4E4E;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__card {
    padding: 1.2rem;
    transition: box-shadow 0.2s;
    cursor: pointer;
    background-color: vars.$color-primary;
    border-radius: 1.6rem;
    &:hover {
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    }
  }

  &__card-content {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__card-icon {
    width: 44%;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.875rem;
    flex-shrink: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__card-info {
    flex: 1;
  }

  &__card-title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.1rem ;
    margin-bottom: 0.25rem;
    color: #212121;
  }

  &__card-tematic-wrap {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.25rem;
  }

  &__card-tematic {
    font-size: 1.6rem;
    font-weight: 600;
    color: #212121;
  }

  &__card-subtitle {
    color: #212121;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: underline;
  }

  &__card-description {
    font-size: 1.4rem;
    font-weight: 400;
    color: #212121;
    margin-top: 0.25rem;
  }

  &__card-button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.8rem 1.2rem;
    background-color: #DF985B;
    color: #212121;
    border: #212121 solid 1px;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: darken(#DF985B, 10%);
    }
  }
}
