@use '../../scss/variables' as vars;
.ar-experience {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    background-color: vars.$color-primary;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 16%;
    color: white;

    &-logo {
      width: 28%;

      img {
        width: 100%;
      }
    }

    &-title {
      width: 60%;
      font-size: 2.8rem;
      font-weight: bold;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
  }

  &__title{
    justify-content: center;
    width: 100%;
    display: flex;
    align-content: center;
    height: 10%;
    align-items: center;
    margin-top: 2%;
    margin-right: 60%;
    color: #222B5C;
    font-weight: bold;
  }
  &__subtitle{
    justify-content: center;
    width: 100%;
    display: flex;
    align-content: center;
    height: 10%;
    align-items: center;
    margin-top: 1%;
    margin-right: 60%;
    color: #222B5C;
    font-weight: bold;
  }
    &__text{
        font-size: 1.5rem;
        width: 60%;
        text-align: center;
        color: #444444;
    }
    &__ar-container {
        width: 80%;
        height: 400px;
        margin-top: 2%;
        border: 2px solid #CCCCCC;
        border-radius: 12px;
        overflow: hidden;
    }
    &__imagenTotemsContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2%;
        gap: 20px;
    }
    &__imagenTotems{
        width: 150px;
        height: 150px;
        border: 2px solid #CCCCCC;
        border-radius: 12px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__cameraWrap {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 70vh; /* o el alto que quieras */
      background: #000;

      video {
        position: absolute !important;
        inset: 0 !important;
        // width: 100% !important;
        height: 100% !important;
        // max-width: 100% !important;
        max-height: 100% !important;
        object-fit: cover !important;
        z-index: 0 !important;
        pointer-events: none !important;
        display: block !important;
      }

      canvas {
        position: absolute !important;
        inset: 0 !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 1 !important;
      }

      a-scene {
        width: 100% !important;
        height: 100% !important;
        position: relative !important;
        z-index: 1 !important;
      }
    }
}