@use '../../scss/variables' as vars;
@use '../../scss/mixins' as mixins;

.MapScreen {
    &__container {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        background: if(vars.$color-background, vars.$color-background, #f5f5f5);
        max-width: 425px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        max-width: 920px;
        padding: 24px;
        box-sizing: border-box;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 1.2rem;
    }

    &__subtitle {
        color: vars.$color-text;
        font-size: vars.$subtitle;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__subtitle2 {
        color: vars.$color-text;
        font-size: vars.$subtitle;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__locations {
        display: flex;
    }

    &__mapPreview {
        /* Asegura que el contenedor tenga una altura concreta; ajústala según diseño */
        height: 360px;
        width: 100%;
        overflow: hidden;
        border-radius: 8px;

        @include mixins.card-shadow();
    }

    &__location-iconContainer {
        width: 30%;
        height: 100%;
        border-radius: 8px;
    }
    
    &__location-info {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    &__locationCard {
        width: 100%;
        display: flex;
        gap: 16px;

        
        h4 {
            font-size: vars.$body-text;
            font-weight: 500;
            color: vars.$color-text;
        }

        p {
            font-size: 1.4rem;
            font-weight: 400;
            color: vars.$color-text;
            margin: 4px 0 12px 0;
        }

        &__location-icon {
            width: 100%;
            height: 100%;
            object-fit: cover;   
            border-radius: 8px;
        }

        @include mixins.card-shadow(); 
        
    }

    &__locationButtons {
            display: flex;
            gap: 10px;
            justify-content: space-between;
    }
     &__btnMapa {
            @include mixins.button-style--variant();
        }

        &__btnExperiencia {
            @include mixins.button-style();
        }
}

@media (min-width: 768px) {
    .MapScreen__locations {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Opcional: clase para TotemMap wrapper (si quieres más control) */
.TotemMap__wrapper {
  width: 100%;
  height: 100%;
}