@use '../../scss/variables' as vars;

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: scroll;
  max-width: 425px;
  padding: 20px;
  box-sizing: border-box;

  
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;  
    border-radius: 8px;
    object-fit: cover;
    transition: .3s ease all;

    img {
        height: 100%;
    }
  }

  &__main {
    color: vars.$color-text;
    line-height: 1.45;
    text-align: center;

    &__title {
      font-size: vars.$title;
      font-weight: 700;
    }

    &__image {
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
      transition: .3s ease all;

      img {
        width: 300px;
        height: auto;
      }
    }
  }
  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 18%;

    &__icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 20px;
    }

    &__icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: vars.$color-text;
      height: 100%;
      transition: .3s ease all;

      div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: relative;
      }

      img {
        width: 90%;
        margin-bottom: 5px;
      }

      span {
        background-color: vars.$color-primary;
        color : vars.$color-white;
        font-size: 20px;
        font-weight: 700;
        padding: 6px 12px;
        border-radius: 8px;
      }

      &--center {
        div {
          justify-content: end;
        }
        img {
          width: 100%;
          position: absolute;
          top: -16px;
        }
      }

      // &:hover {
      //   color: if(vars.$color-accent, vars.$color-accent, vars.$color-text);
      //   transform: scale(1.1);
      // }
    }
  }
}