// src/scss/_variables.scss

// COLORES PRINCIPALES DE FIGMA
$color-primary: #7B68EE;       // Morado de los botones de Experiencia
$color-secondary: #FF5733;     // Un color de acento (si es necesario)
$color-text: #333333;          // Texto oscuro
$color-background: #ffffff;    // Fondo limpio (ligeramente gris)
$color-white: #ffffff;

// TIPOGRAFÍA
$font-family-base: 'Kantumruy Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$title: 28px;
$subtitle: 20px;
$body-text: 18px;

// SOMBRAS (para replicar las tarjetas de Figma)
$shadow-soft: 0 4px 10px rgba(0, 0, 0, 0.1);
$shadow: 0 6px 20px rgb(253, 244, 227);