// src/scss/main.scss

// 1. IMPORTAR PARCIALES
@use 'variables';
@use 'mixins';

// 2. ESTILOS BASE (Reseteo suave)
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: variables.$font-family-base;
    font-size: variables.$body-text;
    background-image: url(../assets/background.png);
    background-size: cover;
    background-attachment: fixed;
    color: variables.$color-text;
}

// 3. ESTILOS GLOBALES DE LA APLICACIÓN
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 20px 0; // Padding general para simular el móvil
}

.app-container {
    width: 100%;
    max-width: 400px; // Ancho máximo para simular el móvil
    overflow: hidden;
}