@use '../../scss/variables' as vars;

.logros {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  &__header {
    background-color: vars.$color-secondary;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 16%;
    color: white;

    &-logo {
      width: 28%;

      img {
        width: 100%;
      }
    }

    &-title {
      width: 60%;
      font-size: 2.8rem;
      font-weight: bold;
    }
  }


  &__main {
    flex: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__item {
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__item-image {
    width: 150px;
  }

  &__item-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item-title {
    max-width: 70%;
    text-align: center;
    font-weight: 500;
    font-size: 2.4rem;
  }

  &__item-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding-left: 0.5rem;
  }

  &__checkbox {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__checkbox-label {
    font-size: 0.875rem;
    cursor: pointer;
  }

  &__bottom-nav {
    background-color: white;
    border-top: 1px solid #e5e7eb;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  &__bottom-nav-button {
    &--active {
      color: #ff8c42;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
